body {
  background-color: yellow;
}
.row {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin: 0;
  padding: 0;
}
.img-fluid {
  border-radius: 10px;
}
h1 {
  font-family: andale mono, monospace;
}
input[type="password"] {
  border-radius: 8px;
  border: 2px solid black;
  font-family: andale mono, monospace;
}
input[type="email"] {
  border-radius: 8px;
  border: 2px solid black;
  font-family: andale mono, monospace;
}
input[type="text"] {
  border-radius: 8px;
  border: 2px solid black;
  font-family: andale mono, monospace;
}
label {
  font-family: andale mono, monospace;
}
button[type="button"] {
  align-content: center;
  font-family: andale mono, monospace;
  font-size: 15px;
  width: 40%;
  background-color: white;
}
h2 {
  font-family: andale mono, monospace;
}
a {
  font-family: andale mono, monospace;
  font-size: 15px;
}
