@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
.navbar-brand {
  font-family: "Staatliches";
}
.navbar-toggler {
  background-color: white;
}
.navbar-nav {
  font-family: "Staatliches";
}
.d-flex {
  width: 300px;
}
input[type="search"] {
  font-family: "Staatliches";
  color: black !important;
  border: 3px solid white;
  font-size: 14px;
}
main {
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 100px;
}
.container {
  font-family: "Staatliches";
  text-align: center;
}
.card-containers {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: row;
  gap: 20px 20px;
}
.card-title {
  font-family: "Staatliches";
}
.card-text {
  font-family: andale mono, monospace;
}
