@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.navbar-brand {
  font-family: "Staatliches";
}
.navbar-toggler {
  background-color: white;
}
.navbar-nav {
  font-family: "Staatliches";
}
.d-flex {
  width: 300px;
}
input[type="search"] {
  font-family: "Staatliches";
  color: black !important;
  border: 3px solid white;
  font-size: 14px;
}
main {
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 35px;
}
.container {
  font-family: "Staatliches";
  text-align: center;
  margin-top: 20px;
}
h2 {
  font-family: andale mono, monospace;
}
.container-lg-16 {
  display: flex;
  column-gap: 20px;
  align-content: space-between;
  border: 4px solid black;
  font-family: "Staatliches";
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 10px;
}

.text-container > h1 {
  text-align: center;
}
h1 {
  font-family: "Staatliches";
}
.col-md-6 > h2 {
  text-align: center;
}
